<!DOCTYPE html>
<html>
<head>
  <title>Wc Status for Parasut</title>
  <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
  <style type="text/css">
    h1 {
      font: 12em Georgia, serif;
      text-align: center;
    }
  </style>
</head>
<body>
<p><h1 id='status' style="color:<%= wcStatus === 'available' ? 'green' : 'red' %>"><%= wcStatus %></h1></p>

<script type="text/javascript">
  var socket = io(window.location.hostname + ":" + window.location.port );

  socket.on('status', function(data) {
    el = document.getElementById('status');
    el.innerText = data;
    if(data === 'available') {
      el.style.color = 'green';
    } else {
      el.style.color = 'red';
    }
  })
</script>
</body>
</html>